/*
link
visited
hover
active
focus
*/

a#link1{

}
a#link2:link{
    color: green;
}
/* Cuando visitamos el enlace, nos cambia ciertas propiedades*/
a#link1:visited{
    color: darkred;
    font-size: 20px;
    background: green;
    text-decoration: none;
}

p:hover{
    color: yellowgreen;
    font-size: 50px;
    padding: 30px;
    font-weight: bolder;
    margin-left: 50px;
}

span:active{
    color: red;
}


input{
    border-radius: 15px;
}
input:focus{
    border-radius: 15px;
    background: #FFD6D6;
    color: darkviolet;
}
/*
avanzadas

    :nth-child(N)
    :nth-last-child(N)
    :nth-of-type(N)
    :nth-last-of-type(N)
    :first-of-type
    :last-of-type
    :only-of-type
    :empty
    :not(S)
    :last-child
    :only-child
    :root
    :enable
    :disable
    :checked

*/
